# Tuple

In [1]:
t = ('Norway', 4.5, 3)

In [3]:
t[0]

'Norway'

In [4]:
t[2]

3

In [5]:
len(t)

3

In [7]:
for item in t:
    print (item)

Norway
4.5
3

In [8]:
t + (3.3, 'hello')

('Norway', 4.5, 3, 3.3, 'hello')

In [9]:
t *3

('Norway', 4.5, 3, 'Norway', 4.5, 3, 'Norway', 4.5, 3)

In [10]:
my_tuple = ((1,2),('hello','world'),(3.5,4.6))

In [11]:
my_tuple

((1, 2), ('hello', 'world'), (3.5, 4.6))

In [12]:
my_tuple[1][0]

'hello'

### single element as tuple : need to use trailing ,

In [13]:
single_tuple = (100,)

In [14]:
type(single_tuple_tuple)

tuple

In [15]:
empty_tuple = ()

In [16]:
type(empty_tuple)

tuple

In [17]:
p = 1,2,3,4,5

In [18]:
p

(1, 2, 3, 4, 5)

### function return as tuple min max

In [19]:
def minmax(items):
    return min(items), max(items)

In [20]:
minmax([1,3,5,100,200])

(1, 200)

# Tuple unpacking

In [21]:
lower, upper = minmax([1,2,5,100,200,2,45])

In [22]:
lower

1

In [23]:
upper

200

In [24]:
(a,(b,(c,d))) = (1,(2,(3,4)))

In [25]:
a

1

In [26]:
b

2

In [27]:
c

3

In [28]:
d

4

In [29]:
a = 'jelly'
b = 'bean'

In [30]:
a,b = b,a

In [32]:
a

'bean'

In [33]:
b

'jelly'

In [34]:
tuple([1,3,4,5,])

(1, 3, 4, 5)

In [35]:
tuple('Hello World')

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

## checking item in tuple

In [36]:
5 in (5,3,2,1)

True

In [37]:
4 in (3,2,1,5)

False