# Sets

In [9]:
p = {6,28,496,8128,23434645}

In [10]:
p

{6, 28, 496, 8128, 23434645}

In [11]:
type(p)

set

In [12]:
e = set()

In [13]:
type(e)

set

In [14]:
s = set([2,5,7,2,2,3,5,7])

In [15]:
s

{2, 3, 5, 7}

In [16]:
my_list = list(s)

In [17]:
my_list

[2, 3, 5, 7]

In [19]:
for x in {3,1,4,7,12,2}:
    print (x)

1
2
3
4
7
12

In [20]:
thisset = {"banana", "cherry","apple"}

In [21]:
thisset

{'apple', 'banana', 'cherry'}

In [22]:
q = {2,9,1,5,10}

In [23]:
3 in q

False

In [24]:
2 in q

True

## adding and updating items to set

In [25]:
q.add(20)

In [26]:
q

{1, 2, 5, 9, 10, 20}

In [27]:
q.update({30,40,15})

In [28]:
q

{1, 2, 5, 9, 10, 15, 20, 30, 40}

In [29]:
q.update([70,8,0,90])

In [30]:
q

{0, 1, 2, 5, 8, 9, 10, 15, 20, 30, 40, 70, 90}

## remove elements from set (set.remove(), set.discard())

In [31]:
q.remove(20)

In [32]:
q

{0, 1, 2, 5, 8, 9, 10, 15, 30, 40, 70, 90}

In [37]:
#raise error if the element is not in the set
q.remove(3)

KeyError: 3

In [34]:
#no error if the element is not in the set, unlike remove() method
q.discard(3)

In [35]:
q.discard(0)

In [36]:
q

{1, 2, 5, 8, 9, 10, 15, 30, 40, 70, 90}

## Shallow copy

In [39]:
j = q.copy()

In [40]:
j

{1, 2, 5, 8, 9, 10, 15, 30, 40, 70, 90}

In [41]:
j.add(0)

In [42]:
j

{0, 1, 2, 5, 8, 9, 10, 15, 30, 40, 70, 90}

In [43]:
q

{1, 2, 5, 8, 9, 10, 15, 30, 40, 70, 90}

In [44]:
j.discard(10)

In [45]:
j

{0, 1, 2, 5, 8, 9, 15, 30, 40, 70, 90}

In [46]:
q

{1, 2, 5, 8, 9, 10, 15, 30, 40, 70, 90}

In [47]:
k = set(q)

In [48]:
k

{1, 2, 5, 8, 9, 10, 15, 30, 40, 70, 90}

## Set Algebra operations
union()

intersection()

difference() : LEFT JOIN()

symmetric_difference() : either one, NOT BOTH

issubset()

issuperset()

isdisjoint() : set A is not included in set B?

In [50]:
blue_eyes = {'Oliva', 'Harry', 'Lily', 'Jack', 'Amelia'}
blond_hair = {'Harry', 'Jack', 'Amelia', 'Mia', 'Joshua'}
smell_hcn ={'Harry', 'Amelia'}
taste_ptc = {'Harry', 'Lily', 'Amelia', 'Lola'}
o_blood = {'Mia', 'Joshua', 'Lily', 'Oliva'}
b_blood = {'Amelia', 'Jack'}
a_blood = {'Harry'}
ab_blood = {'Joshua', 'Lola'}

In [51]:
# people who have blues eyes , blond hair or both
blue_eyes.union(blond_hair)

{'Amelia', 'Harry', 'Jack', 'Joshua', 'Lily', 'Mia', 'Oliva'}

In [53]:
blue_eyes.union(blond_hair) == blond_hair.union(blue_eyes)

True

In [54]:
# people with blues eyes and blond hair
blue_eyes.intersection(blond_hair)

{'Amelia', 'Harry', 'Jack'}

In [56]:
# people with blue eyes, but don't have blond hair
# LEFT JOIN
blue_eyes.difference(blond_hair)

{'Lily', 'Oliva'}

In [58]:
# people with blond hair, but don't have blue eyes
blond_hair.difference(blue_eyes)

{'Joshua', 'Mia'}

In [59]:
blue_eyes.difference(blond_hair) == blond_hair.difference(blue_eyes)

False

In [62]:
#people who only have blue eyes or blond hair, NOT BOTH
blond_hair.symmetric_difference(blue_eyes)

{'Joshua', 'Lily', 'Mia', 'Oliva'}

In [63]:
#people who can smell hcn is subset of blond hair?
smell_hcn.issubset(blond_hair)

True

In [64]:
taste_ptc.issuperset(smell_hcn)

True

In [67]:
#o blood type people not in b blood type people
o_blood.isdisjoint(b_blood)

True