# Iteration Tools

## islice and count

In [2]:
from itertools import count, islice

In [5]:
thousands_of_two = islice((x for x in count() if x%2==0),1000)

In [6]:
thousands_of_two

In [8]:
list(thousands_of_two)[-10:]

[1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998]

In [9]:
sum(islice((x for x in count() if x%2==0),1000))

999000

## any() / all()

### any():
determines if any elements in a series are true

### all():
determines if all elements in a series are true

In [10]:
any([False,False,True])

True

In [11]:
all([False,False,True])

False

## zip()

synchronize iterations across two or more iterables.

In [12]:
sunday = [10,20,30,40,50,60]
monday = [5,1,5,7,4,6]

In [13]:
zip (sunday, monday)

In [14]:
for sun,mon in zip(sunday,monday):
    print('Average: ', (sun+mon)/2)

Average:  7.5
Average:  10.5
Average:  17.5
Average:  23.5
Average:  27.0
Average:  33.0

In [15]:
tuesday = [234,6,15,23,55,124]

In [16]:
for temps in zip(sunday, monday, tuesday):
    print(f'Min :  {min(temps)}, Max: {max(temps)}, Average: {sum(temps)/len(temps)}')

Min :  5, Max: 234, Average: 83.0
Min :  1, Max: 20, Average: 9.0
Min :  5, Max: 30, Average: 16.666666666666668
Min :  7, Max: 40, Average: 23.333333333333332
Min :  4, Max: 55, Average: 36.333333333333336
Min :  6, Max: 124, Average: 63.333333333333336

## itertools chain

In [17]:
from itertools import chain
temp = chain(sunday,monday,tuesday)

In [18]:
all(t>0 for t in temp)

True